<div class="column m-2 p-2">
  <div class="card">
    <div class="card-image">
      <% if customer.image.attached? %>
        <%= image_tag customer.image, alt: "#{customer.full_name} profile picture" %>
      <% end %>
    </div>
    <div class="card-content">
      <div class="content">
        <p class="title"><%= customer.full_name %></p>
        <p>Tel:<%= customer.phone_number %></p>
        <p><%= customer.notes %></p>
        <p>Email: <%= customer.email.presence || "N/A" %></p>
      </div>
    </div>
  </div>
</div>
